<div class="home">
    <div class="info">
        <h1>{{profile.name}}, welcome to Wonga 360.</h1>
        <div class="info-container">
            <p>Feedback is the breakfast of champions. High-performance teams and businesses all have the sharp-sword of
                Feedback very well embedded into their culture. On Wonga 360, you can contribute feedback to your teammates 
                and assist their growth.
            </p>

            <h2>How it works</h2>

            <p>Click on ‘Let’s Get Started’ to identify a colleague to give feedback to, and then rate their work from 1-5, 
                give a compliment or a suggestion for growth, or award a badge. From My Profile, view your own accumulated 
                feedback.
            </p>

            <h3>Your data and privacy</h3>

            <p>Your accumulated rating, feedback, and Kudos will remain private to you and can only be seen by you. By default,
                feedback is anonymous, unless a user decides to leave their name after their comments.
            </p>
            <div class="button-container">
                <button class="btn btn-secondary">LET’S GET STARTED</button>
                <button class="btn btn-primary">REQUEST FEEDBACK</button>
            </div>
        </div>
            
    </div>
    <div class="image-container">
        <img src="https://picsum.photos/820/820"/>
    </div>
</div>
