@font-face {
  font-family: "Omnes";
  src: url("../assets/fonts/omnes-regular.eot");
  src: url("../assets/fonts/omnes-regular.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/omnes-regular.woff2") format("woff2"),
    url("../assets/fonts/omnes-regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Omnes-medium";
  src: url("../assets/fonts/omnes-medium.eot");
  src: url("../assets/fonts/omnes-medium.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/omnes-medium.woff2") format("woff2"),
    url("../assets/fonts/omnes-medium.ttf") format("truetype");
  font-style: normal;
}
